/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}

:root {
    --base-color: #2589BD;
}

body {
    font-size: 1.5rem;
}

.blue-color {
    color: var(--base-color);
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* global style */
/* navbar style */
nav {
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.08);
    padding: 10px 20px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Glory';
}

nav .container ul {
    display: flex;
    gap: 16px;
}

nav .container ul li {
    font-size: 16px;
}

nav .container ul li a.active,
nav ul li a:hover {
    color: var(--base-color);
}

/* navbar style */
/* landing section */
.landing-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.landing-sec .content {
    text-align: center;
    width: 50%;
}

.landing-sec .content h1 {
    font-size: 32px;
    margin: 0;
    color: #323232;
}
@media (max-width:576px){
    .landing-sec .content {
        width: 100%;
        padding: 0 5px;
    }
}
.landing-sec .content p {
    margin: 10px 0;
    color: #646464;
    font-size: 20px;
}

.landing-sec .content .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 12px;
}

.landing-sec .content .btn {
    background-color: var(--base-color);
    color: white;
    padding: 8px 16px;
    border: 1px solid var(--base-color);
    cursor: pointer;
    font-size: 18px;
}

.landing-sec .content .btn-bordered {
    background-color: transparent;
    color: var(--base-color);
}

.landing-sec .content a:hover {
    opacity: 0.8;
}

/* landing section */
/* footer style */
footer {
    background-color: var(--base-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 14px 8px;
    font-size: 18px;
    text-align: center;
}

footer a {
    color: #FFF;
    font-weight: bold;
}
/* footer style */

@media(max-width: 375px){
    .landing-sec .content .btn{
        padding: 8px;
    }
}