/* global style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}
:root{
    --base-color:#2589BD;
}
body{
    font-size: 1.5rem;
}
.blue-color{
    color: var(--base-color);
    text-transform: uppercase;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* global style */
/* navbar style */
nav{
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.08);
    padding: 10px;
}
nav .container{
    display: flex;
    justify-content: space-between;
    font-family: 'Glory';
    
}
nav .container ul {
    display: flex;
}
nav .container ul li{
    margin-right: 15px;
}
nav .container ul li a.active , nav ul li a:hover{
    color: var(--base-color);
}
/* navbar style */
/* landing section */
.landing-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.landing-sec .content{
    text-align: center;
    width: 50%;
}
.landing-sec .content header{
    font-size: 2rem;
}
.landing-sec .content p{
    margin: 10px 0;
    color: #AAA;
}
.landing-sec .content .btn{
    background-color: var(--base-color);
    color: white;
    margin: 5px;
    padding: 7px;
    border: 1px solid var(--base-color);
    cursor: pointer;
}
.landing-sec .content .btn-bordered{
    background-color: transparent;
    color: var(--base-color);
}
.landing-sec .content button:hover{
    opacity: 0.5;
}
/* landing section */
/* footer style */
footer{
    background-color: var(--base-color);
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}
footer ul{
    padding-left: 6px;
}
footer ul li{
    display: inline-block;
    font-weight: bold;
}
footer ul li:not(footer ul li:last-of-type):after{
    content: " |";
    
}
/* footer style */