* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;

}

body {
    height: 100vh;
}

.blue-color {
    color: #2589BD;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/* navbar style */
nav {
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.08);
    padding: 10px 20px;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Glory';
}

nav .container .logo {
    font-size: 1.5rem;
}

nav .container ul {
    display: flex;
    gap: 16px;
}

nav .container ul li {
    font-size: 16px;
}

nav .container ul li a.active,
nav ul li a:hover {
    color: #2589BD;
}

/* navbar style */

.info-container {
    width: 80%;
    margin: 5px auto;
}

.info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(187, 186, 186, 0.342);
    border-bottom: 1px solid rgba(187, 186, 186, 0.342);
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 15px 130px 15px 20px;
    border-right: 8px solid #2589BD;
    border-left: 8px solid #2589BD;
}

.left {
   
    display: flex;
    gap: 170px;
   
   
   
}
.m{
   margin-left: -15px;
}


.info:nth-child(1) {
    border: none;
}

.info:nth-child(2) {
    border-right: 8px solid #FFD700;
    border-left: 8px solid #FFD700;
}

.info:nth-child(3) {
    border-right: 8px solid #C0C0C0;
    border-left: 8px solid #C0C0C0;
}

.info:nth-child(4) {
    border-right: 8px solid #CD7F32;
    border-left: 8px solid #CD7F32;
}

/* footer style */
footer {
    background-color: #2589BD;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 18px;
}

footer a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

/* footer style */

@media screen and (max-width:940px) {
    .info-container {
        width: 90%;
    }

    .info {
        padding-right: 40px;
    }

    .left {
        width: 50%;
        gap: 90px;
    }
}