*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
    
}
body{
    height: 100vh;
}

.navcontainer{
    width: 100%;
   
    border-bottom: 1px solid rgb(166, 166, 166);

    margin-bottom:  70px ;
}
.navcontainer nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0px 25px;
   
   
}
nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style-type:none ;
}
nav span{
    color: rgb(106, 179, 224);
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: none;
}
.active{
    color: rgb(106, 179, 224);
}
.menuIcon{
    display: none;
}

.table-container{
    width: 80%;
   margin: 30px auto ;
}

.tr1{
    border-left:  5px solid rgb(223, 82, 82);
    border-right:  5px solid rgb(223, 82, 82);
    border-radius:20px;
    margin-bottom: 10px;
   
}

.tr2{
    border-left:  5px solid rgb(101, 97, 97);
    border-right:  5px solid rgb(101, 97, 97);
    border-radius:20px;
    margin-bottom: 10px;
   
}
.tr3{
    border-left:  5px solid rgb(103, 66, 7);
    border-right:  5px solid rgb(103, 66, 7);
    border-radius:20px;
    margin-bottom: 10px;
   
}
.tr4{
    border-left:  5px solid rgb(76, 15, 217);
    border-right:  5px solid rgb(76, 15, 217);
    border-radius:20px;
    margin-bottom: 10px;
}
.tr5{
    border-left:  5px solid rgb(11, 147, 50);
    border-right:  5px solid rgb(11, 147, 50);
    border-radius:20px;
    margin-bottom: 10px;
}

.footercontainer{
    background-color:rgb(46, 144, 205) ;
    margin-top: 90px;
    
}
footer{
    color: azure;
    text-align: center;
  
}
footer p{
    padding: 15px 0px;
}
footer span{
    font-weight: bold;
}

@media screen  and (max-width:940px){
    li{
        display: none;
    }
    .menuIcon{
        display: inline;
    }
}