* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    outline: none;
    font-family: "Glory", sans-serif;
}

.blue-color {
    color: #2589BD;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

/* navbar style */
nav {
    box-shadow: 0px 2px 2px rgba(50, 50, 50, 0.08);
    padding: 10px 20px;
}

nav a {
    color: #000;
    text-decoration: none;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Glory';
}

nav .container .logo {
    font-size: 1.5rem;
}

nav .container ul {
    display: flex;
    gap: 16px;
}

nav .container ul li {
    font-size: 16px;
}

nav .container ul li a.active,
nav ul li a:hover {
    color: #2589BD;
}

/* navbar style */
.quiz-container {
    width: calc(100% - 20px);
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #eee;
    margin: 20px auto;
    padding: 10px;
}

.div-q {
    background: #2589BD;
    /* ahmed0saber : why do you use certain height ? */
    /* height: 100px; */
    border-radius: 5px 5px 0 0;
    margin: auto;
    /* ahmed0saber : do we really need this ? we can use padding top instead */
    /* position: relative;
    top: 10px; */
    display: flex;
}

.div-one p {
    color: #fff;
    margin: 17px;
    font-size: 20px;
}
.div-q{
    display: flex;
    justify-content: space-between;
}

.time-div {
    background-color: #fff;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin-right: 7px;
    margin-top: 40px;
    

}

.time-div p {
    color: #2589BD;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.par-1 {
    margin: 20px 0;
    font-size: 20px;
}

.div-question {
    background: #000;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    top: 2.5px;
    color: #fff;
    font-size: 20px;

}

.div-question p {
    position: relative;
    top: 10px;
    left: 10px;
}

.btn-ans,
.btn-back,
.btn-check {
    height: 45px;
    /* margin-left: 1%; */
    /* margin-top: 10px; */
    /* ahmed0saber : they can be written in a shorter way */
    margin: 10px 0 0 0;
    border: 2px solid #2589BD;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

.btn-ans {
    width: 100%;
}

.btn-ans:hover {
    border: 2px solid #000;
}

.btn-ans p {
    text-align: left;
    font-size: 22px;
    margin-left: 10px;
}

.pagination-btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn-back,
.btn-check {
    width: calc(50% - 5px);
}

.btn-back:hover,
.btn-check:hover {
    background-color: #2589BD;
}

.btn-back:hover p,
.btn-check:hover p {
    color: #fff;
}

.btn-back p,
.btn-check p {
    color: #2589BD;
    font-size: 22px;
}

/* footer style */
footer {
    background-color: #2589BD;
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 18px;
}

footer a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

/* footer style */